In [1]:
import pandas as pd
from tqdm import tqdm
import math

In [2]:
trans = pd.read_csv("transactions_train.csv")
trans.shape # (31788324, 5) huge traning set

(31788324, 5)

# Slicer Function

The original transactions file ("transactions_train.csv") was too big to process (31788324 rows in total), so created this function to break it into 10 smaller consecutive chunks, with each of the new transactions files labeled "transaction" + "1-10" + ".csv" in consecutive order.

In [3]:
trans_subset = trans.iloc[0:math.floor(len(trans)/3),]
trans_subset

,t_dat,customer_id,article_id,price,sales_channel_id
0,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,663713001,0.050831,2
1,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,541518023,0.030492,2
2,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,505221004,0.015237,2
3,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,685687003,0.016932,2
4,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,685687004,0.016932,2
...,...,...,...,...,...
10596103,2019-05-22,0eb428da277903ec2b2fc2fe9ea101464154a8e9cb4d6d...,685448004,0.025407,1
10596104,2019-05-22,0eb8ce0034aba4d5513fe8288b536661e95b4b7a511f97...,516859002,0.013542,1
10596105,2019-05-22,0eb8e191190c6d229a7f2b64c40e9f75c8029cc30d3c18...,568601006,0.038119,1
10596106,2019-05-22,0eb8e191190c6d229a7f2b64c40e9f75c8029cc30d3c18...,757613001,0.008458,1
10596107,2019-05-22,0eb9aea593c04e0e6d9523db6f9814ded05eafacac7855...,432566001,0.015153,1

In [ ]:
section = math.floor(len(trans)/10)
for i in tqdm(range(10)):
    if i != 9:
        trans_subset = trans.iloc[i*section:(i+1)*section,]
    else:
        trans_subset = trans.iloc[i*section:(i+1)*len(trans),]
    string = "transaction" + str(i+1) + ".csv"
    trans_subset.to_csv(string)